@import '~@vue/ui/dist/vue-ui.css';
@import '~primer-support';
@import './fonts';
@import './assets/fonts/iconfont.css';

$bg-blue: #384AFF;
$bg-blue-light: #F7F8FC;
$bg-gray: #DDDFE8;
$bg-green: #21b66f;
$text-blue: #384AFF;
$text-red: #ff3856;
$blue-100: #DCE2FF;
$body-font-size: 17px;
$body-line-height: 1.4;
$gray: #9fa5af;
$h2-size: 26px;
$border: 1px solid $bg-gray;
$font-mktg: 'HarmoniaSansProCyrBold', Helvetica, Arial, sans-serif;
$font-weight-bold: 'HarmoniaSansProCyrBold', Helvetica, Arial, sans-serif;
$font-weight-normal: 'HarmoniaSansProCyrSemiBd', Helvetica, Arial, sans-serif;

@import '~@primer/css/index.scss';

html, body, #app {
  color: $gray;
  font-family: $font-mktg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  color: $black;
  font-family: $font-weight-bold;
}

p {
  font-family: $font-weight-normal;
}

#app {
  min-height: 100vh;
}

a {
  color: $gray;

  &:hover {
    cursor: pointer;
    text-decoration: none !important;
  }
}

::placeholder {
  color: $gray;
}

#nav, #menu {
  background-color: $white;

  ul > li > a {
    @extend .d-inline-block;
    padding: 20px 0;
    color: $gray;

    .counter {
      color: $gray;
      background-color: $bg-gray !important;
    }

    &.router-link-exact-active {
      color: $text-blue;

      .counter {
        color: $text-blue;
        background-color: $blue-100 !important;
      }
    }
  }
}

.counter {
  @extend .Counter;
  @extend .py-1;
  @extend .px-2;
  color: $text-blue;
  background-color: $blue-100 !important;
}

.input {
  outline: none;
  background-color: transparent;
  border: none;
}

::-webkit-scrollbar-thumb {
  background-color: $bg-gray;
  background-clip: padding-box;
  border: 0;
  border-radius: 0;

  &:hover {
    background-color: $gray;
  }
}

.btn-mktg {
  text-align: center;
  height: 44px;
  line-height: 44px;
  padding: 0 26px;
  font-size: 15px;
  border: 0;
  border-radius: 22px;
  background-color: $bg-blue;
  color: $white;
  box-shadow: none !important;

  &:hover {
    color: $white;
  }
}

.btn-outline {
  @extend .btn-mktg;
  background-color: $blue-100;
  color: $bg-blue;

  &:hover {
    background-color: $blue-100;
    color: $bg-blue;
  }
}

.btn-red {
  @extend .btn-mktg;
  background-color: $bg-red;
  color: $white;

  &:hover {
    background-color: $bg-red;
    color: $white;
  }
}

.btn-outline-red {
  @extend .btn-mktg;
  background-color: $red-100;
  color: $bg-red;

  &:hover {
    background-color: $red-100;
    color: $bg-red;
  }
}

.btn-green {
  @extend .btn-mktg;
  background-color: $bg-green;
  color: $white;

  &:hover {
    background-color: $bg-green;
    color: $white;
  }
}

.btn-white {
  @extend .btn-mktg;
  background-color: $white;
  color: $bg-blue;

  &:hover {
    background-color: $white;
    color: $bg-blue;
  }
}

.modal {
  .backdrop {
    background: transparentize(#0e113b, 0.2) !important;
  }

  .shell {
    @extend .rounded-md-2;
    @extend .rounded-lg-2;
    background-color: $white;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 440px;
  }

  .button {
    width: 100%;
    min-width: auto;
  }

  .button-outline {
    max-width: 50%;
  }
}

label {
  font-size: 18px;
}

.eyebrow {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.column {
  width: 160px;
}

.column-sm {
  width: 90px;
}

.form-control {
  padding: 8px 0;
  border: 0;
  box-shadow: none !important;
  background-color: transparent;
}

.highlight:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.anim-fade-in {
  animation-duration: 0.6s !important;
}

.text-normal {
  font-family: $font-weight-normal;
}

.check {
  color: $gray-200;

  .active {
    color: $bg-blue;
  }
}

.tokens-selectable {
  &:hover {
    .token-selectable {
      img {
        opacity: 0.4
      }
    }
  }

  .token-selectable {
    .close {
      display: none;
    }

    &:hover {
      z-index: 9;

      img {
        opacity: 1
      }

      .close {
        display: inherit;
      }
    }
  }
}

.line-height-0 {
  line-height: 0;
}

.mosaic {
  background-image: url("~@/assets/bg.svg");
  background-position: top;
}

@keyframes scroll {
  from { background-position: 0 0; }
  to { background-position: -260px -300px; }
}

.anim-scroll {
  animation-name: scroll;
  animation-duration: 24s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
