@import '~@vue/ui/dist/vue-ui.css';
@import './fonts';
@import './vars';
@import "~@primer/css/core/index.scss";

body {
  font-family: $font-weight-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #app {
  background-color: $black;
  color: $gray;
}

h1, h2, h3 {
  color: $white;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
}

p {
  font-family: $font-weight-normal;
}

#app {
  min-height: 100vh;
}

a {
  color: $gray;

  &:hover {
    cursor: pointer;
    text-decoration: none !important;
  }
}

::placeholder {
  color: $gray;
}

.counter {
  @extend .Counter;
  @extend .py-1;
  @extend .px-2;
  color: $text-blue;
  background-color: $blue-100 !important;
}

.input {
  outline: none;
  width: 20px !important;
  color: $white;
  font-size: 15px;
  background-color: transparent;
  border: none;
}

::-webkit-scrollbar-thumb {
  background-color: $panel-border;
  background-clip: padding-box;
  border: 0;
  border-radius: 0;

  &:hover {
    background-color: $input-hover-border;
  }
}

.modal {
  .shell {
    @extend .border;
    @extend .rounded-md-1;
    @extend .rounded-lg-1;
    background-color: $panel-background;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 780px;
  }

  .modal-body {
    flex: auto;
  }
}

label {
  font-size: 18px;
}

.eyebrow {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 500;
}

.column {
  width: 140px;
}

.column-sm {
  width: 120px;
}

.form-control {
  padding: 8px 0;
  border: 0;
  box-shadow: none !important;
  background-color: transparent;
}

.highlight:hover {
  background-color: $panel-border;
}

.anim-fade-in {
  animation-duration: 0.6s !important;
}

.text-normal {
  font-family: $font-weight-normal;
}

.check {
  color: $gray-200;

  .active {
    color: $bg-blue;
  }
}

.tokens-selectable {
  &:hover {
    .token-selectable {
      img {
        opacity: 0.4
      }
    }
  }

  .token-selectable {
    .close {
      display: none;
    }

    &:hover {
      z-index: 9;

      img {
        opacity: 1
      }

      .close {
        display: inherit;
      }
    }
  }
}

.line-height-0 {
  line-height: 0;
}

.mosaic {
  background-image: url("~@/assets/bg.svg");
  background-position: top;
}

.bg-black {
  background-color: $black;
}

.text-black {
  color: $black;
}

.Progress {
  height: 6px;
  overflow: hidden;
}

.vue-ui-loading-indicator {
  &.overlay {
    background-color: transparent !important;
  }

  .animation {
    border-color: transparentize($white, 0.8);
    border-right-color: $white;
  }

  .loading-xl {
    .animation {
      border-width: 6px;
      width: 64px;
      height: 64px;
    }
  }
}

.vue-ui-switch {
  .wrapper {
    margin-left: 0 !important;
    height: 24px !important;
    width: 42px !important;
    border-radius: 12px !important;
    background-color: $panel-border !important;

    .bullet {
      margin: 2px;
      width: 18px !important;
      height: 18px !important;
      background-color: $white !important;
    }
  }

  &.selected {
    .wrapper {
      .bullet {
        margin-left: 20px !important;
        background-color: $blue !important;
      }
    }
  }
}

.panel-background {
  background-color: $panel-background;
}

.link-text {
  color: $link-text;
}
