@import '~primer-support';

$background: #21222c;
$body-text: #90a4ae;
$exit-modal-color: #dfe3e9;
$error-color: #ff8a80;
$header-text: #fff;
$app-header-text: #fafafa;
$link-text: #82b1ff;
$token-balance-text: #90a4ae;
$warning: #ffc780;
$address-color: #82b1ff;
$input-text: #fafafa;
$input-placeholder-text: #575860;
$input-hover-background: #31313b;
$input-hover-placeholder-text: #818187;
$input-hover-border: #4c5480;
$button-text: #fafafa;
$button-background: #526dfe;
$button-border: #282a32;
$inactive-button-border: rgba(140,158,255,0.2);
$inactive-button-text: hsla(0,0%,100%,0.6);
$panel-border: #41476b;
$panel-background: #282932;
$panel-header-background: #282932;
$panel-row-text: #fafafa;
$slider-main: #8c9eff;
$highlighted-selector-background: #41476b;
$highlighted-selector-border: #7785d5;
$highlighted-selector-text: #fff;
$selector-background: #2e2f39;

$border-radius: 4px;
$black: #21222c;
$border: 1px solid $panel-border;

$bg-blue: #384AFF;
$bg-blue-light: #F7F8FC;
$bg-gray: #90a4ae;
$bg-green: #21b66f;
$text-blue: #384AFF;
$text-red: #ff3856;
$blue-100: #DCE2FF;
$body-font-size: 14px;
$body-line-height: 1.4;
$h2-size-mobile: 26px;
$gray: $bg-gray;
$text-gray: $gray;
$h2-size: 26px;

$gray-dark: #282a32;
$bg-gray-dark: $gray-dark;
$font-mktg: 'HarmoniaSansProCyrBold', Helvetica, Arial, sans-serif;
$font-weight-bold: 'HarmoniaSansProCyrBold', Helvetica, Arial, sans-serif;
$font-weight-normal: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

$blue: #7685d5;
$blue-900: #41476b;

